@import '~antd/dist/antd.css';

.App {
	margin: 1rem auto;
	text-align: center;
}

.logo {
    width: 60px;
    height: 60px;

    margin: 2px 90px 2px 0;
    float: left;
    vertical-align: bottom;
    color: whitesmoke;
    text-align: center;
  }
